.bg_contact {
	background-image: url('http://wallpapercave.com/wp/FSlJFYH.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.right_align {
	text-align: right;
}