.bg_etc {
	background-image: url('../img/bg/bg_labeling.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.section {
	width: 100%;
	min-height: 5em;
	
}
.icon img {
	width: 12.5%;
	padding: 2px;
}