.bg_etc {
	background-image: url('../img/bg/bg_labeling.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
a, a:link, a:active, a:hover, a:visited {
	color: #696;
}
p.links > a, 
p.links > a:link, 
p.links > a:active, 
p.links > a:hover, 
p.links > a:visited {
	color: #06c;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus {
	color: #fff;
    background-color: #696;
}
.tab-pane {
	min-height: 500px;
}
#former_faces {
	min-height: 150px;
}
.icon {
	width: 12.5%;
	padding: 2px;
}
.person_title {
	font-size: 1.5em;
}
.person_major {
	font-size: 1.2em;
	color: #696;
}