.bg_people {
	background-image: url('../img/bg_cake.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.person {
	margin: 15px 0px;
}
.person_title {
	font-size: 1.5em;
}
.person_major {
	font-size: 1.2em;
	color: #696;
}